<div id="admin-container">
    <%= link_to "Home", root_path, class:"btn btn-secondary btn-sm", id:"home-button" %>

    <div id="admin-shows">
      <% @shows.each do |show| %>
          <div class="show">
            <div class="show-info">
              <div class="show-date">
                <%= show.date.strftime("%A %d %B %Y").upcase%>
              </div>
              <div class="show-loc">
                <%= show.city.upcase %>,
                <%= show.country.upcase %>
              </div>
              <div class="show-venue">
                <%= show.venue.upcase %>
              </div>
              <%= link_to "Delete", delete_path(show), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger btn-sm", id:"delete-button" %>
              <%# <%= link_to "Edit", edit_path(show), class:"btn btn-secondary btn-sm", id:"edit-button" %>
            </div>
          </div>
        <% end %>
    </div>
      <form action="/welcometozelda/bitch" method="post">
        <h3>Add show:</h3>
        <label for="venue">Venue:</label>
        <input type="text" id="venue" name="venue">
        <label for="city">City:</label>
        <input type="text" id="city" name="city">
        <label for="country">Country:</label>
        <input type="text" id="country" name="country">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" class="form-item">
        <input type="submit" value="Submit">
      </form>
</div>
